<script src="{{ config.ASSETS_ROOT }}/js/vendor-all.min.js"></script>
<script src="{{ config.ASSETS_ROOT }}/plugins/bootstrap/js/bootstrap.min.js"></script>
<script src="{{ config.ASSETS_ROOT }}/js/pcoded.min.js"></script>
<script src="{{ config.ASSETS_ROOT }}/js/dark-mode.js"></script>
<script src="{{ config.ASSETS_ROOT }}/js/maps.js"></script>


<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

<!-- google-map Js -->

<script src="{{ config.ASSETS_ROOT }}/plugins/chart-morris/js/raphael.min.js"></script>
<script src="{{ config.ASSETS_ROOT }}/plugins/chart-morris/js/morris.min.js"></script>

<script src="https://code.highcharts.com/highcharts.js"></script>

<script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=ebjqay50oq&callback=initMap"></script>

<script src="http://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.2/raphael-min.js"></script>
<script src="{{ config.ASSETS_ROOT }}/js/morris.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/prettify/r224/prettify.min.js"></script>
<script src="{{ config.ASSETS_ROOT }}/js/morris-ex.js"></script>

<script src="{{ config.ASSETS_ROOT }}/js/bootstrap.bundle.js"></script>
<script src="{{ config.ASSETS_ROOT }}/js/bootstrap.bundle.min.js"></script>
<script src="{{ config.ASSETS_ROOT }}/js/bootstrap.js"></script>

<link rel="stylesheet" href="{{ config.ASSETS_ROOT }}/css/bootstrap-grid.css">
<link rel="stylesheet" href="{{ config.ASSETS_ROOT }}/css/bootstrap-grid.min.css">
<link rel="stylesheet" href="{{ config.ASSETS_ROOT }}/css/bootstrap-reboot.css">
<link rel="stylesheet" href="{{ config.ASSETS_ROOT }}/css/bootstrap-reboot.min.css">
<link rel="stylesheet" href="{{ config.ASSETS_ROOT }}/css/bootstrap.css">
<link rel="stylesheet" href="{{ config.ASSETS_ROOT }}/css/bootstrap.min.css">
<link rel="stylesheet" href="{{ config.ASSETS_ROOT }}/css/morris.css">
