<!-- [ navigation menu ] start -->
<nav class="pcoded-navbar">
    <div class="navbar-wrapper">
        <div class="navbar-brand header-logo">
            <a href="/" class="b-brand">
                <div class="b-bg">
                    <i class="feather icon-trending-up"></i>
                </div>
                <span class="b-title">MadecaSSOL</span>
            </a>
            <a class="mobile-menu" id="mobile-collapse" href="javascript:"><span></span></a>
        </div>
        <div class="navbar-content scroll-div">
            <ul class="nav pcoded-inner-navbar">
                <li class="nav-item pcoded-menu-caption">
                    <label>Navigation</label>
                </li>
                <li data-username="dashboard Default Ecommerce CRM Analytics Crypto Project" class="nav-item {% if 'index' in segment %} active {% endif %}">
                    <a href="/" class="nav-link "><span class="pcoded-micon"><i class="feather icon-home"></i></span><span class="pcoded-mtext">홈</span></a>
                </li>

                <li class="nav-item pcoded-menu-caption">
                    <label>Forms & table</label>
                <li data-username="Table bootstrap datatable footable" class="nav-item {% if 'tbl_bootstrap' in segment %} active {% endif %}">
                    <a href="/form.html" class="nav-link "><span class="pcoded-micon"><i class="feather icon-server"></i></span><span class="pcoded-mtext">Form</span></a>
                </li>
                <li class="nav-item pcoded-menu-caption">
                    <label>Chart & Maps</label>
                </li>
                <li data-username="Charts Morris" class="nav-item {% if 'chart-morris' in segment %} active {% endif %}">
                    <a href="/chart-map.html" class="nav-link "><span class="pcoded-micon"><i class="feather icon-pie-chart"></i></span><span class="pcoded-mtext">한눈에 보기</span></a>
                </li>
                <li data-username="Charts Morris" class="nav-item {% if 'chart-morris' in segment %} active {% endif %}">
                    <a href="/chart-imsang.html" class="nav-link "><span class="pcoded-micon"><i class="feather icon-pie-chart"></i></span><span class="pcoded-mtext">소나무재선충 관련 임상 차트</span></a>
                </li>
                <li data-username="Charts Morris" class="nav-item {% if 'chart-morris' in segment %} active {% endif %}">
                    <a href="/chart-weather.html" class="nav-link "><span class="pcoded-micon"><i class="feather icon-pie-chart"></i></span><span class="pcoded-mtext">소나무재선충 관련 기후 차트</span></a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!-- [ navigation menu ] end -->
