<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,300,400,500,700,900" rel="stylesheet">
    

    <title>Elegance - Creative HTML5 Template</title>
<!--
Elegance Template
https://templatemo.com/tm-528-elegance
-->
    <!-- Additional CSS Files -->
    <link rel="stylesheet" type="text/css" href="{{ config.ASSETS_ROOT }}/form_page/css/bootstrap.min.css">

    <link rel="stylesheet" type="text/css" href="{{ config.ASSETS_ROOT }}/form_page/css/font-awesome.css">

    <link rel="stylesheet" type="text/css" href="{{ config.ASSETS_ROOT }}/form_page/css/fullpage.min.css">

    <link rel="stylesheet" type="text/css" href="{{ config.ASSETS_ROOT }}/form_page/css/owl.carousel.css">

    <link rel="stylesheet" href="{{ config.ASSETS_ROOT }}/form_page/css/animate.css">

    <link rel="stylesheet" href="{{ config.ASSETS_ROOT }}/form_page/css/templatemo-style.css">

    <link rel="stylesheet" href="{{ config.ASSETS_ROOT }}/form_page/css/responsive.css">

    <script src="https://kit.fontawesome.com/5f13ca5c0e.js" crossorigin="anonymous"></script>

    </head>
    
    <body>
    
    <div id="video">
        <div id="fullpage" class="fullpage-default">

            <div class="section animated-row" data-section="slide01">
                <div class="section-inner">
                    <div class="welcome-box">
                        <span class="welcome-first animate" data-animate="fadeInUp">Hello, welcome to</span>
                        <h1 class="welcome-title animate" data-animate="fadeInUp">MadeCassol</h1>
                        <p class="animate" data-animate="fadeInUp">견적서를 짜기 위한 설문에 응답해주시길 바랍니다.</p>
                        <div class="scroll-down next-section animate data-animate="fadeInUp=""><img src="{{ config.ASSETS_ROOT }}/form_page/images/mouse-scroll.png" alt=""><span>Scroll Down</span></div>
                    </div>
                </div>
            </div>

            <div class="section animated-row" data-section="slide02">
                <div class="section-inner">
                    <div class="about-section">
                        <div class="row justify-content-center">
                            <div class="col-lg-8 wide-col-laptop">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="about-contentbox">
                                            <div class="animate" data-animate="fadeInUp">
                                                <span>About survey</span>
                                                <h2>Which is in the survey?</h2>
                                                <p>당신의 소나무와 벌목지에 대해 궁금합니다.</p>
                                            </div>
                                            <div class="facts-list owl-carousel">
                                                <div class="item animate" data-animate="fadeInUp">
                                                    <div class="counter-box">
                                                        <!--<i class="fa fa-trophy counter-icon" aria-hidden="true"></i>--><span class="count-number">how much area?</span>벌목지
                                                    </div>
                                                </div>
                                                <div class="item animate" data-animate="fadeInUp">
                                                    <div class="counter-box">
                                                        <!--<i class="fa-solid fa-trees" aria-hidden="true"></i>--><span class="count-number">1/2/3?</span>소나무 품등
                                                    </div>
                                                </div>
                                                <div class="item animate" data-animate="fadeInUp">
                                                    <div class="counter-box">
                                                        <!--<i class="fa fa-desktop counter-icon" aria-hidden="true"></i>--><span class="count-number">how long take?</span>운반 출발/도착지
                                                    </div>
                                                </div>
                                                <div class="item animate" data-animate="fadeInUp">
                                                    <div class="counter-box">
                                                        <!--<i class="fa fa-support counter-icon" aria-hidden="true"></i>--><span class="count-number">trans<br>port?</span>운반 차량
                                                    </div>
                                                </div>
                                                <div class="item animate" data-animate="fadeInUp">
                                                    <div class="counter-box">
                                                        <!--<i class="fa fa-certificate counter-icon" aria-hidden="true"></i>--><span class="count-number">E-mail</span>이메일
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <figure class="about-img animate" data-animate="fadeInUp"><img src="{{ config.ASSETS_ROOT }}/images/logging.jpg" class="rounded" alt="" width="500px" length="350px"></figure>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="section animated-row" data-section="slide03">
                <div class="section-inner">
                    <div class="row justify-content-center">
                        <div class="col-md-8 wide-col-laptop">
                            <div class="title-block animate" data-animate="fadeInUp">
                                <span>In Survey</span>
                                <h2>What we Do?</h2>
                            </div>
                            <div class="services-section">
                                <div class="services-list owl-carousel">
                                    <div class="item animate" data-animate="fadeInUp">
                                        <div class="service-box">
                                            <span class="service-icon"><i class="fa fa-bookmark" aria-hidden="true"></i></span>
                                            <h3>운반 거리 계산</h3>
                                            <p>운반할 소나무의 출발지와 도착지를 설문의 응답으로 적어주시면, 지도 api를 통해 운반거리를 계산해즐 수 있습니다.</p>
                                        </div>
                                    </div>
                                    <div class="item animate" data-animate="fadeInUp">
                                        <div class="service-box">
                                            <span class="service-icon"><i class="fa fa-cloud" aria-hidden="true"></i></span>
                                            <h3>조사 현황으로 소나무 가격 계산</h3>
                                            <p>실제 원목시장가격조사를 토대로 입력한 소나무의 품등에 따라 가격을 산정해줄 수 있습니다.</p>
                                        </div>
                                    </div>
                                    <div class="item animate" data-animate="fadeInUp">
                                        <div class="service-box">
                                            <span class="service-icon"><i class="fa fa-desktop" aria-hidden="true"></i></span>
                                            <h3>실제 예시를 통한 벌목비 측정</h3>
                                            <p>국가법령 기준 감리 사업비 산출내역서를 파일로서 제공해줄 수 있습니다.</p>
                                        </div>
                                    </div>
                                    <div class="item animate" data-animate="fadeInUp">
                                        <div class="service-box">
                                            <span class="service-icon"><i class="fa fa-mobile" aria-hidden="true"></i></span>
                                            <h3>카카오톡과의 연동</h3>
                                            <p>MadecaSSOL 카카오톡 플러스 친구를 추가한다면 견적서를 실시간으로 받아볼 수 있습니다.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="section animated-row" data-section="slide06">
                <div class="section-inner">
                    <div class="row justify-content-center">
                        <div class="col-md-8 wide-col-laptop">
                            <div class="title-block animate" data-animate="fadeInUp">
                                <span>Ready to go?</span>
                                <h2>Go Survey?</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="section animated-row" data-section="slide07">
                <div class="section-inner">
                    <div class="row justify-content-center">
                        <div class="col-md-7 wide-col-laptop">
                            <div class="title-block animate" data-animate="fadeInUp">
                                <span>Let's Start</span>
                                <h2>Get In Survey!</h2>
                            </div>
                            <div class="contact-section">
                                <div>   
                                <button data-tf-on-submit="submit" data-tf-popup="F5aGbcWp" data-tf-iframe-props="title=T-Shirt Order Form (copy)" data-tf-medium="snippet" style="all:unset;font-family:Helvetica,Arial,sans-serif;display:inline-block;max-width:100%;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;background-color:#F4F4F4;color:#000000;font-size:22px;border-radius:7px;padding:0 36px;font-weight:bold;height:55px;cursor:pointer;line-height:55px;text-align:center;margin:0;text-decoration:none;">Survey GO!!</button>                            </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>  

    

    <script src="//embed.typeform.com/next/embed.js"></script>

    <script src="{{ config.ASSETS_ROOT }}/form_page/js/jquery.js"></script>

    <script src="{{ config.ASSETS_ROOT }}/form_page/js/bootstrap.min.js"></script>

    <script src="{{ config.ASSETS_ROOT }}/form_page/js/fullpage.min.js"></script>

    <script src="{{ config.ASSETS_ROOT }}/form_page/js/scrolloverflow.js"></script>

    <script src="{{ config.ASSETS_ROOT }}/form_page/js/owl.carousel.min.js"></script>

    <script src="{{ config.ASSETS_ROOT }}/form_page/js/jquery.inview.min.js"></script>

    <script src="{{ config.ASSETS_ROOT }}/form_page/js/form.js"></script>

    <script src="{{ config.ASSETS_ROOT }}/form_page/js/custom.js"></script>

    <script>
        function submit(event) {
            console.log(event.response_id);
            var settings = {
                "url": "https://v1.nocodeapi.com/gashigochibul/typeform/JUWInxVQHhBztCnf/formResponses?formId=F5aGbcWp",
                "method": "get",
                "timeout": 0,
                "data" : {"included_response_ids":event.response_id},
                "headers": {
                    "Content-Type": "application/json"
                },
            };
        
            $.ajax(settings).done(function (response) {
                console.log(response);
    //             $.ajax({
    //                 type: 'POST',
    //                 url: urllink,
    //                 async: false,
    //                 dataType: 'json',
    //                 contentType: 'application/json',
    //                 data: JSON.stringify(local),
    //                 success: function(response) {
    //                     var local_lower = response['localName'].toLowerCase();
    //                     detail_selct.innerText = enChange[local_lower] + ' 선택';
    //                     detail_region_name.innerText = enChange[local_lower];
    //                     detail_region_name.style.color = "black";

    //                     resetgraph();
    //                     totalCountChange(response);
    //                     probAverage(response);
    //                     var run_morris = morris_map_call(response);
                    
    //     }
    // })
            });
          }
    </script>
  </body>
</html>