<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->


    <head>
        <meta charset="utf-8">
        <title>Pouseidon - Free HTML5 Model Agency Bootstrap Template</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" type="image/png" href="favicon.ico">

        <!--Google Fonts link-->
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">

        <link href="https://fonts.googleapis.com/css?family=Crimson+Text:400,400i,600,600i,700,700i" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:300,300i,400,400i,700,700i" rel="stylesheet">


        <link rel="stylesheet" href="{{ config.ASSETS_ROOT }}/css/home/slick.css?ver=1">
        <link rel="stylesheet" href="{{ config.ASSETS_ROOT }}/css/home/slick-theme.css?ver=1">
        <link rel="stylesheet" href="{{ config.ASSETS_ROOT }}/css/home/animate.css?ver=1">
        <link rel="stylesheet" href="{{ config.ASSETS_ROOT }}/css/home/fonticons.css?ver=1">
        <link rel="stylesheet" href="{{ config.ASSETS_ROOT }}/css/home/font-awesome.min.css?ver=1">
        <link rel="stylesheet" href="{{ config.ASSETS_ROOT }}/css/home/bootstrap.css?ver=1">
        <link rel="stylesheet" href="{{ config.ASSETS_ROOT }}/css/home/magnific-popup.css?ver=1">
        <link rel="stylesheet" href="{{ config.ASSETS_ROOT }}/css/home/bootsnav.css?ver=1">


        <!--For Plugins external css-->
        <!--<link rel="stylesheet" href="assets/css/plugins.css" />-->

        <!--Theme custom css -->
        <link rel="stylesheet" href="{{ config.ASSETS_ROOT }}/css/home/style.css?ver=1">
        <!--<link rel="stylesheet" href="assets/css/colors/maron.css">-->

        <!--Theme Responsive css-->
        <link rel="stylesheet" href="{{ config.ASSETS_ROOT }}/css/home/responsive.css?ver=1" />

        <script src="{{ config.ASSETS_ROOT }}/js/home/vendor/modernizr-2.8.3-respond-1.4.2.min.js?ver=1"></script>
    </head>

    <body data-spy="scroll" data-target=".navbar-collapse">


        <!-- Preloader -->

        <!--<div id="loading">
            <div id="loading-center">
                <div id="loading-center-absolute">
                    <div class="object"></div>
                    <div class="object"></div>
                    <div class="object"></div>
                    <div class="object"></div>
                    <div class="object"></div>
                    <div class="object"></div>
                    <div class="object"></div>
                    <div class="object"></div>
                    <div class="object"></div>
                    <div class="object"></div>
                </div>
            </div>
        </div>-->

        <!--End off Preloader -->


        <div class="culmn">

            <section id="hello" class="home bg-mega"style="background-image:url('{{config.ASSETS_ROOT}}/images/graImage.png');">
                <div class="overlay"style="background-color:transparent;"></div>
                <div class="container">
                    <div class="row">
                        <div class="main_home text-center" style="top: 50%; left: 30%; ">
                            <div class="home_text">
                                <h4 class="text-white ">We are Gasigochibul</h4>
                                <h1 class="text-white ">MadecaSSOL</h1>

                                <div class="separator"></div>

                                <h5 class=" text-white"><em>Pinetree Dashboard and KakaoTalk Chatbot About PINE WILT</em></h5>
                            </div>
                        </div>
                    </div><!--End off row-->
                </div><!--End off container -->
            </section> <!--End off Home Sections-->


            <!--About Sections-->
            <section id="feature" class="feature p-top-100">
                <div class="container">
                    <div class="row">
                        <div class="main_feature">

                            <div class="col-md-6 m-top-120">
                                <!-- Head Title -->
                                <div class="head_title">
                                    <h2>About Our Service</h2>
                                    <h5><em>마데카솔 서비스를 나타내는 한 마디</em></h5>
                                    <div class="separator_left"></div>
                                </div><!-- End off Head Title -->

                                <div class="feature_content wow fadeIn m-top-40">
                                    <p>마데카솔 서비스 구현 배경</p>

                                    <p>마데카솔 서비스 타겟들?</p>

                                    <!--<div class="feature_btns m-top-30">
                                        <a href="" class="btn btn-default text-uppercase">more about us <i class="fa fa-long-arrow-right"></i></a>
                                    </div>-->
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="feature_photo wow fadeIn sm-m-top-40">
                                    <!--<div class="photo_border"></div>-->
                                    <div class="feature_img">
                                        <img src="{{ config.ASSETS_ROOT }}/images/index_images/apps.png" alt="" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!--End off row-->
                </div><!--End off container -->
                <br />
                <br />
                <br />
                <br />
                <hr />
                <br />
                <br />

                <div class="container" style="margin-left:25%;">
                    <div class="row">
                        <div class="main_counter text-center">
                            <div class="col-md-3">
                                <div class="counter_item">
                                    <h2 class="statistic-counter"><em>63</em></h2>
                                    <div class="separator_small"></div>
                                    <h5>Projects Days</h5>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="counter_item sm-m-top-40">
                                    <h2 class="statistic-counter"><em>124</em></h2>
                                    <div class="separator_small"></div>
                                    <h5>Github Commit</h5>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="counter_item sm-m-top-40">
                                    <h2 class="statistic-counter"><em>76</em></h2>
                                    <div class="separator_small"></div>
                                    <h5>Our Notion</h5>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="counter_item sm-m-top-40">
                                    <h2 class="statistic-counter"><em>500</em> </h2>
                                    <div class="separator_small"></div>
                                    <h5>Google Drive</h5>
                                </div>
                            </div>
                        </div>
                    </div><!--End off row-->
                </div><!--End off container -->

                <br />
                <br />
                <br />
                <hr />
                <br />
                <br />
                <br />

                <!--Our Work Section-->
                <div class="container">
                    <div class="row">
                        <div class="main_work">

                            <div class="col-md-7 col-md-offset-5 col-sm-12 col-xs-12">
                                <div class="work_item">
                                    <div class="row">
                                        <div class="col-md-7 col-sm-12 col-xs-12 text-right pull-left sm-text-center" style="position:relative; left:220px;">
                                            <div class="work_item_img">
                                                <img src="{{ config.ASSETS_ROOT }}/images/index_images/chatbot_profile.png" alt="" />
                                            </div>
                                        </div>
                                        <div class="col-md-5 col-sm-12 col-xs-12 text-right pull-right sm-text-center" style="position:relative; right:450px;">
                                            <div class="work_item_details m-top-80 sm-m-top-20">
                                                <h4>ChatBot</h4>
                                                <div class="work_separator1"></div>
                                                <p class="m-top-40 sm-m-top-10">챗봇에 관한 특징</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div><!-- End off work-item -->

                            <div class="col-md-7 col-sm-12 col-xs-12">
                                <div class="work_item">
                                    <div class="row">
                                        <div class="col-md-7 col-sm-12 col-xs-12">
                                            <div class="work_item_img sm-text-center sm-m-top-40">
                                                <img src="{{ config.ASSETS_ROOT }}/images/index_images/maps.png" alt="" />
                                            </div>
                                        </div>
                                        <div class="col-md-5 col-sm-12 col-xs-12 text-left pull-left sm-text-center">
                                            <div class="work_item_details m-top-80 sm-m-top-20">
                                                <h4>Maps</h4>
                                                <div class="work_separator2"></div>
                                                <p class="m-top-40 sm-m-top-10">대쉬보드에 대한 간략한 특징</p>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div><!-- End off work-item -->

                            <div class="col-md-7 col-md-offset-5 col-sm-12 col-xs-12">
                                <div class="work_item">
                                    <div class="row">
                                        <div class="col-md-7 col-sm-12 col-xs-12 text-right pull-right sm-text-center"style="position:relative; left:220px;">
                                            <div class="work_item_img sm-m-top-40">
                                                <img src="{{ config.ASSETS_ROOT }}/images/index_images/estimate.png" alt="" />
                                            </div>
                                        </div>
                                        <div class="col-md-5 col-sm-12 col-xs-12 text-right pull-left sm-text-center" style="position:relative; right:450px;">
                                            <div class="work_item_details m-top-80 sm-m-top-20">
                                                <h4>Estimate</h4>
                                                <div class="work_separator1"></div>
                                                <p class="m-top-40 sm-m-top-10">견적서에 대한 간략한 특징</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div><!-- End off work-item -->

                            <div class="col-md-7 col-sm-12 col-xs-12">
                                <div class="work_item">
                                    <div class="row">
                                        <div class="col-md-7 col-sm-12 col-xs-12">
                                            <div class="work_item_img sm-text-center sm-m-top-40">
                                                <img src="{{ config.ASSETS_ROOT }}/images/index_images/bar_chart.png" alt="" />
                                            </div>
                                        </div>
                                        <div class="col-md-5 col-sm-12 col-xs-12 text-left pull-left sm-text-center">
                                            <div class="work_item_details m-top-80 sm-m-top-20">
                                                <h4>Charts</h4>
                                                <div class="work_separator2"></div>
                                                <p class="m-top-40 sm-m-top-10">차트에 대한 간략한 특징</p>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div><!-- End off work-item -->

                        </div>
                    </div>
                </div>



                <br />
                <br />
                <br />
                <hr />
                <br />
                <br />
                <br />

                <div class="container">
                    <div class="row">


                        <div class="service_content_area">
                            <!-- Service LEFT SIDE -->
                            <div class="col-md-4 service_left wow fadeInLeft">
                                <!-- Service -->

                                <div class="service_items">
                                    <div class="row">

                                        <!-- ICON -->
                                        <div class="col-xs-3">
                                            <div class="hexagon">
                                                <div class="about-content">
                                                    <span class="fa fa-leaf"></span>
                                                </div>    
                                            </div>
                                        </div>

                                        <div class="col-xs-9">
                                            <div class="text-left service_left_text">
                                                <h4 class="main-color">flask</h4>
                                                <p>웹 프레임워크로 파이썬 플라스크 사용</p>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <!-- end Single Service item -->

                                <!-- Service -->
                                <div class="service_items">
                                    <div class="row">
                                        <!-- ICON -->
                                        <div class="col-xs-3">
                                            <div class="hexagon">
                                                <div class="about-content">
                                                    <span class="fa fa-diamond"></span>
                                                </div>    
                                            </div>
                                        </div>

                                        <div class="col-xs-9">
                                            <div class="text-left service_left_text">
                                                <h4 class="main-color">AWS</h4>
                                                <p>웹서버로 AWS 라이트세일 리눅스 우분투 사용</p>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <!-- end Single Service item -->

                                <!-- Service -->
                                <div class="service_items">
                                    <div class="row">
                                        <!-- ICON -->
                                        <div class="col-xs-3">
                                            <div class="hexagon">
                                                <div class="about-content">
                                                    <span class="fa fa-android"></span>
                                                </div>    
                                            </div>
                                        </div>

                                        <div class="col-xs-9">
                                            <div class="text-left service_left_text">
                                                <h4 class="main-color">MYSQL</h4>
                                                <p>데이터베이스로 MYSQL사용</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- end Single Service item -->


                            </div>
                            <!-- /END Service LEFT -->

                            <!-- PHONE IMAGE -->
                            <div class="col-md-4 sm-m-top-40 sm-text-center">
                                <div class="service-img wow bounceIn">
                                    <img src="{{ config.ASSETS_ROOT }}/images/pinetree_logo.png" alt="Architect Img">
                                </div>
                            </div>

                            <!-- Service RIGHT -->
                            <div class="col-md-4 service_right wow fadeInRight sm-m-top-40" >

                                <!-- Service -->
                                <div class="service_items">
                                    <div class="row">

                                        <div class="col-xs-9">
                                            <div class="service_right_text p-l-15 text-right">
                                                <h4 class="main-color">머신러닝 툴</h4>
                                                <p>머신러닝 툴 설명</p>
                                            </div>
                                        </div>

                                        <!-- ICON -->
                                        <div class="col-xs-3">
                                            <div class="hexagon">
                                                <div class="about-content">
                                                    <span class="fa fa-cut"></span>
                                                </div>    
                                            </div>
                                        </div>

                                    </div>

                                </div> <!-- end Single Service item -->



                                <!-- Service -->
                                <div class="service_items">
                                    <div class="row">

                                        <div class="col-xs-9">
                                            <div class="service_right_text p-l-15 text-right">
                                                <h4 class="main-color">QGIS</h4>
                                                <p>데이터전처리함</p>
                                            </div>
                                        </div>


                                        <!-- ICON -->
                                        <div class="col-xs-3">
                                            <div class="hexagon">
                                                <div class="about-content">
                                                    <span class="fa fa-bullhorn"></span>
                                                </div>    
                                            </div>
                                        </div>

                                    </div>

                                </div><!-- end Single Service item -->  

                                <!-- Service -->
                                <div class="service_items">
                                    <div class="row">


                                        <div class="col-xs-9">
                                            <div class="service_right_text p-l-15 text-right">
                                                <h4 class="main-color">APIs</h4>
                                                <p>사용한 API들 열거</p>
                                            </div>
                                        </div>

                                        <!-- ICON -->
                                        <div class="col-xs-3">
                                            <div class="hexagon">
                                                <div class="about-content">
                                                    <span class="fa fa-paper-plane"></span>
                                                </div>    
                                            </div>
                                        </div>

                                    </div>
                                </div><!-- end Single Service item --> 


                            </div><!-- /END Service RIGHT -->
                        </div>
                    </div> <!--End off row -->
                </div>

            </section> <!--End off About section -->



            <!--Gallery Section-->
            <section id="gallery" class="gallery margin-top-120 bg-grey">
                <!-- Gallery container-->
                <div class="container">
                    <div class="row">






                        <div class="main-gallery roomy-80">
                            <div class="col-md-12">
                                <div class="head_title text-left sm-text-center wow fadeInDown">
                                    <h2>Our Gallery</h2>
                                    <h5><em>마데카솔 서비스 구현 사진들</em></h5>
                                    <div class="separator_left"></div>
                                </div>
                            </div>
                            <div class="col-md-12 m-bottom-60">
                                <div class="filters-button-group text-right sm-text-center" style="position:relative; right:100px">
                                    <!--<button class="button is-checked" data-filter="">View all</button>
                                    <button class="button" data-filter=".metal">Catwalk</button>
                                    <button class="button" data-filter=".transition">Advertisement</button>
                                    <button class="button" data-filter=".alkali">Fashionista</button>
                                    <button class="button" data-filter=".ar">Model Photo</button>-->
                                </div>
                            </div>
                            <div class="images wrapper">
                              <div style="width:33%; float:left;">
                                <img src="{{ config.ASSETS_ROOT }}/images/imgp1.png" style="padding:10px 10px;">
                                <img src="{{ config.ASSETS_ROOT }}/images/imgp2.png"style="padding:10px 10px;">
                                <img src="{{ config.ASSETS_ROOT }}/images/imgp3.png"style="padding:10px 10px;">
                              </div>
                              <div style="width:33%; float:left;">
                                <img src="{{ config.ASSETS_ROOT }}/images/imgp4.png"style="padding:10px 10px;">
                                <img src="{{ config.ASSETS_ROOT }}/images/imgp5.png"style="padding:10px 10px;">
                                <img src="{{ config.ASSETS_ROOT }}/images/imgp6.png"style="padding:10px 10px;">
                              </div>
                              <div style="width:33%; float:left;">
                                <img src="{{ config.ASSETS_ROOT }}/images/imgp7.png"style="padding:10px 10px;">
                                <img src="{{ config.ASSETS_ROOT }}/images/imgp8.png"style="padding:10px 10px;">
                                <img src="{{ config.ASSETS_ROOT }}/images/imgp9.jpg"style="padding:10px 10px;">
                              </div>
                            </div>


                            <div style="clear: both;"></div>

                            </div>

                            <div style="clear: both;"></div>

                        </div>
                    </div>
                </div><!-- Portfolio container end -->
            </section><!-- End off portfolio section -->

            <!--Models section-->

            <section id="models" class="models bg-grey roomy-80">
                <br><br>
                <hr>
                <br><br>
                <div class="container">
                    <div class="row">
                        <div class="main_models text-center" >
                            <div class="col-md-12">
                                <div class="head_title text-left sm-text-center wow fadeInDown">
                                    <h2>We are?</h2>
                                    <h5><em>소나무재선충의 천적! 가시고치벌팀입니다.</em></h5>
                                    <div class="separator_left"></div>
                                </div>

                              <div class=" col-sm-6" style="position:relative; left:325px; ">
                                  <div class="model_item m-top-30">
                                      <div class="model_img">
                                          <img src="{{ config.ASSETS_ROOT }}/images/img001.png" alt=""style="width:200px; height:200px"/>
                                          <div class="model_caption">
                                              <h5 class="text-white">팀장<br>고세윤</h5>
                                          </div>
                                      </div>
                                  </div>
                              </div>

                              <div class="col-sm-6" style="position:relative; left:325px">
                                  <div class="model_item m-top-30">
                                      <div class="model_img">
                                          <img src="{{ config.ASSETS_ROOT }}/images/img002.png" alt=""style="width:200px; height:200px" />
                                          <div class="model_caption">
                                              <h5 class="text-white">팀원<br>이은재</h5>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                        </div>
                    </div>
                </div>
            </section>

            <!--Contact Us Section-->
            <!--<section id="contact" class="contact fix">
                <div class="container">
                    <div class="row">
                        <div class="main_contact p-top-100">

                            <div class="col-md-6 sm-m-top-30">
                                <form class="" action="subcribe.php">
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-group"> 
                                                <label>Your Name *</label>
                                                <input id="first_name" name="name" type="text" class="form-control" required="">
                                            </div>
                                        </div>

                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label>Your Email *</label>
                                                <input id="email" name="email" type="text" class="form-control">
                                            </div>
                                        </div>

                                        <div class="col-sm-12">
                                            <div class="form-group"> 
                                                <label>Your Message *</label>
                                                <textarea class="form-control" rows="6"></textarea>
                                            </div>
                                            <div class="form-group">
                                                <a href="" class="btn btn-default">SEND MESSAGE <i class="fa fa-long-arrow-right"></i></a>
                                            </div>
                                        </div>

                                    </div>

                                </form>
                            </div>

                            <div class="col-md-6">
                                <div class="contact_img">
                                    <img src="{{ config.ASSETS_ROOT }}/images/contact-img.png" alt="" />
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </section>-->


            <!--Company section-->

            <!--<section id="company" class="company bg-light">
                <div class="container">
                    <div class="row">
                        <div class="main_company roomy-100 text-center" style="padding-left:400px">
                            <h3 class="text-uppercase">Gasigochibul.</h3>
                            <p> Frontier - Gongneung - Seoul - Korea</p>
                            <p>(+84). 123. 456. 789  -  test@test.com</p>
                        </div>
                    </div>
                </div>
            </section>-->


            <!-- scroll up-->
            <div class="scrollup">
                <a href="#"><i class="fa fa-chevron-up"></i></a>
            </div><!-- End off scroll up -->


            <!--<footer id="footer" class="footer bg-mega">
                <div class="container">
                    <div class="row">
                        <div class="main_footer p-top-40 p-bottom-30">
                            <div class="col-md-6 text-left sm-text-center">
                                <p class="wow fadeInRight" data-wow-duration="1s">
                                    Made with 
                                    <i class="fa fa-heart"></i>
                                    by 
                                    <a target="_blank" href="http://bootstrapthemes.co">Bootstrap Themes</a> 
                                    2016. All Rights Reserved
                                </p>
                            </div>
                            <div class="col-md-6 text-right sm-text-center sm-m-top-20">
                                <ul class="list-inline">
                                    <li><a href="">Facebook</a></li>
                                    <li><a href="">Twitter</a></li>
                                    <li><a href="">Instagram</a></li>
                                    <li><a href="">Pinterest</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>-->




        </div>

        <!-- JS includes -->

        <script src="{{ config.ASSETS_ROOT }}/js/home/vendor/jquery-1.11.2.min.js"></script>
        <script src="{{ config.ASSETS_ROOT }}/js/home/vendor/bootstrap.min.js"></script>

        <script src="{{ config.ASSETS_ROOT }}/js/home/isotope.min.js"></script>
        <script src="{{ config.ASSETS_ROOT }}/js/home/jquery.magnific-popup.js"></script>
        <script src="{{ config.ASSETS_ROOT }}/js/home/jquery.easing.1.3.js"></script>
        <script src="{{ config.ASSETS_ROOT }}/js/home/slick.min.js"></script>
        <script src="{{ config.ASSETS_ROOT }}/js/home/jquery.collapse.js"></script>
        <script src="{{ config.ASSETS_ROOT }}/js/home/bootsnav.js"></script>



        <script src="{{ config.ASSETS_ROOT }}/js/home/plugins.js"></script>
        <script src="{{ config.ASSETS_ROOT }}/js/home/main.js"></script>

    </body>
</html>